# protect .htaccess
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

# protect every hidden file
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# ErrorDocuments
ErrorDocument 401 /forumsec/error.php?id=401
ErrorDocument 402 /forumsec/error.php?id=402
ErrorDocument 403 /forumsec/error.php?id=403
ErrorDocument 404 /forumsec/error.php?id=404
ErrorDocument 500 /forumsec/error.php?id=500
ErrorDocument 501 /forumsec/error.php?id=501
ErrorDocument 502 /forumsec/error.php?id=502
ErrorDocument 503 /forumsec/error.php?id=503
ErrorDocument 504 /forumsec/error.php?id=504

# disable directory browsing
Options -Indexes