* {
    margin: 0;
}

html {
    text-align: center;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f0f2f5;
    color: #555;
}

form.login_register{
    border-radius: 25px;
    text-align: center;
    background-color: #FFF;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    margin: 50px;
    width: 250px;
}


input {
    border-radius: 10px;
    width: 100%;
    padding: 15px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
    border: none;
    background-color: #191;
    color: white;
    font-size: 1.1em;
}
input[type=submit]:hover {
    background-color: #080;
}

label{
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
}

a{
    font-size: 1em;
}

h1 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5;
}

h2 {
    color: #191;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5;
}

h3 {
    color: #921;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5;
}

h4{
    font-size: 1.2em;
    color: #00025a;
    padding-bottom: 5px;
}

hr{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

img.profile{
    border-radius: 50%;
    width: 96px;
    height: 96px;
}
img.profile:hover {
    box-shadow: 0 0 3px 1px rgba(255, 0, 136, 0.5);
}



/* header and footer and lists in general */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}
.header{
    top: 0;
}
.footer{
    height: 3em;
    bottom: 0;
    left: 0;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #0A6;
}

/* content */
#content{
    margin: 2.5%;
    margin-right: 2.5%;
    float: left;
    text-align: left;
    width: 95%;
}

.account{
    background-color: #333;
    color: #eee;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

.profilepicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96px;
    height: 96px;
   
}

.edit{
    text-align: center;
    position: fixed;
    margin-top: -25px;
    margin-left: 80px;
    
    opacity: 0;
    transition: .3s ease;
}

.profilepicture:hover .edit {
    opacity: 1;
  }

#fileToUpload{
    display: none;
}


  
/* button below login/registration */
.button {
    background-color: #0af;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
}
.button:hover {
    background-color: #09e;
}

/* forum */
.scroll{
    overflow-y: scroll;
}

div.post{
    background-color: #eee;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    height: auto;
}

div.left{
    float: left;
    width: 5%;
    text-align: center;
}

.right{
    float: right;
    width: 95%;
}

form.submitpost{
    color: #000;
}

.createpost{
    width: 100%;
    color: white;
    text-align: center;
}

input.createpost{
    background-color: #f08;
}
input.createpost:hover{
    background-color: #e07;
}

/* alertboxes */
@keyframes slide {
    0%   {
        top: 50px;
        opacity: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    }
    100% {opacity: 1;}
  }
.alert {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 80px;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-align: left;
    animation-name: slide;
    animation-duration: 1s;
}
.alert.green {
    background-color: #695;
}
.alert.yellow {
   background-color: #FB5;
}
.alert.red {
   background-color: #E33;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}  
.closebtn:hover {
    color: black;
}

/* file upload*/
.message {
    text-align: center;
    background-color: #0A6;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 20px;
    width: 50%;
    margin-left: 25%;
}

/* error pages */
div.error {
    color: #333; 
    text-align: center;
}
a.error {
    text-shadow: -5px 5px 15px #666; 
    font-size: 10em; 
    font-weight: 900;
}
.error-content {
    font-size: 3em; 
    font-weight: 900;
}

/* footer pages design */
div.top-part {
    text-align: center;
    background-color: #FB5;
    padding-top: 60px;
    margin-bottom: 40px;
    height: 200px;
    font-weight: 500;
}
div.lower {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
}
.right-part {
    width: 50%;
    float: right;
}
.left-part {
    width: 50%;
    float: left;
}
.middle{
    float: middle;
}
h5 {
    color:#FFF;
    font-size: 4em;
    line-height: 1.5;
}
h6 { 
    color: #555;
    font-size: 2em;
}
h7 {
    color: #f38;
    font-size: 2em;
}